*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif
}

section{
    display: -webkit-flex; /*configurar para diferentes navegadores*/
    display: flex;
}

#navDust2{
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: white;
    padding: 20px;
}

#navDust2 ul{
    list-style-type: none;
    padding: 0;
}

article{
    -webkit-flex:3;
    -ms-flex:3;
    flex:3;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: justify;
}

footer{
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}

/* Media Queries - serve para aplicar estilos especificos 
em determinadas configurações de usuários*/
@media(max-width:600px){
    section{
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}